.footer{
    display: flex;
    justify-content: space-between;
    padding-inline:1em;
    background-color: #4B0202;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.text-muted{
    font-size: 13px;
}
.left{
    color: white;
}
.right{
    color: white;
}
.Before-footer{
    background-color: #6F0404;
    padding-top: 15px;

}
.img-sty{
    padding-bottom: 100px;
}